.banner{
  /* margin-top: 20px; */
  max-width: 100%;
  /* margin: auto; */
  border-radius: 5px;
  /* overflow: hidden; */
  height: 90vh;
}

.banner > .container {
  display: flex;
  margin-top: -50vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.banner img{
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.banner > .container h1{
  position: absolute;
  /* top:47%;
  left:50%; */
  /* transform: translate(-50%, -50%); */
  margin-top: 0;
  color: rgb(128, 128, 128);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.banner > .container > h1 > div {
  color: #424242;
  font-size: 5rem;
  font-weight: 400;
  display: block;
  /* margin-top: 0.5rem; */
  font-family: 'alegreya', sans-seri;
  font-style: italic;
}

.banner > .container > h1 > div:hover {
  color: #ffffff;
  cursor: pointer;
}

.banner > .container > p {
  position: absolute;
  /* top: 75%; */
  /* left: 50%; */
  /* transform: translate(-50%, -500%); */
  margin-top: 8rem;
  color: rgb(66, 19, 0);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.banner > .container > a.banner-btn {
  position: absolute;
  /* top: 83%; */
  /* left: 50%; */
  /* transform: translate(-50%, -300%); */
  margin-top: 15rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 40px;
  border-radius: 100px;
  background-color: #f19a9a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner > .container > a.banner-btn:hover {
  background-color: #f7c7c7;
  cursor: pointer;
  color: #424242;
}