.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: auto;
}

.cards {
  display: flex;
  width: 20%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 140px 20px 50px 0;
  border-radius: 8px;
  background-color: #fffafe;
  padding-bottom: 40px;
  border: 1px solid #fcb2b2;
  box-shadow: #d4d4d4 0px 0px 10px 0px;

}

.cards:hover{
  box-shadow: #d4d4d4 0px 0px 10px 0px;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.cards img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  padding-top: 15px;
}

.cards h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: rgb(68, 2, 2);
  margin: 10px 0 0 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 10px 10 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left:  40px;
  padding-right:  40px;
}
