.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd8d3;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(255, 245, 109, 0.432);
  color: #2b2b2b;
}

.logo-img {
  height: 80px;
  width: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.elements {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.element{
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.elements :hover{
  background-color: rgb(255, 187, 155);
  color: #ffffff;
}

.element a{
  text-decoration: none;
  color: #333;
}